.weather-app{max-width: 600px;
display: block;
margin: 30px auto;
padding: 30;
border: solid 1px blue;
border-radius: 25px;}

p{text-align: center;}

li{list-style: none;}

h1{margin-bottom: 0;}

h2, h3{font-size: 25px;}

.row{margin-top: 30;}

.weather-display img{margin-left: 15px;
width: 170;
height: 170;}

.weather-temp {position: relative;
left: 10;}

.weather-temp strong{font-size: 40;}

.weather-temp span{position: relative;
bottom: 50;
left: 60;}

.des {text-transform: capitalize;
position: relative;
top: 10;}

.form {position: relative;
bottom: 20;}

.weather-forecast { 
text-align: center;}

forecast-row {justify-content: space-evenly;}



.forecast-icon {position: relative;
right: 15;
top: -20;}

